
<div class="p-5" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" >
        <h2 class="mat-header mat-dispay-1">Category</h2>
        <mat-icon>category</mat-icon>

        <button mat-raised-button><mat-icon>add</mat-icon> Add Category</button>
    </div>
</div>




<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <div fxFlex="50%">
        <app-category-list></app-category-list>
    </div>
</div>