<div fxLayout="row" class="navbar" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
  <div routerLink="/" style="cursor: pointer;" fxFlex="5%" fxLayoutAlign="end">
    <img height="90px" width="90px" src="../../../assets/images/logo/logo.png" alt="">
  </div>
  <div fxFlex="25%">
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
    <a class="nav-item" routerLink="/auth">men</a>
    <a class="nav-item" routerLink="#">women</a>
    <a class="nav-item" routerLink="#">kids</a>
    <a class="nav-item" routerLink="#">category</a>
    <a class="nav-item" routerLink="#">Other</a>
  </div>
  </div>
  <div fxFlex="40%" >
    
    <div class="nav-search">
      <mat-icon class="search-icon" >search</mat-icon>
      <input type="text" class="search-input" placeholder="search name, brand, other .....">
    </div>

  </div>
  <div fxFlex="5%">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <mat-icon routerLink="/admin" class="nav-icon" >account_box</mat-icon>
      <a routerLink="/cart" *ngIf="cart$ | async as cart" >
        <mat-icon
            [matBadge]="cart.products.length"
            matBadgePosition="above after"
            matBadgeColor="accent">
            shopping_basket
          </mat-icon>
      </a>
      <mat-icon class="nav-icon" >shop_to</mat-icon>
      <mat-icon (click)="logout()" class="nav-icon" >exit_to_app</mat-icon>
    </div>
  </div>
</div>


