<div class="container" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
    
    <div *ngIf="category$ | async as category" fxFlex="50%">
        <h3 class="mat-header">{{category.name}}</h3>
        <p class="mat-body mat-body-1">{{category.createAt | date }}</p>
        <hr>
    </div>
    <div fxFlex="50%">
        <h3>Departments</h3>
        <mat-list *ngIf="category$ | async as category"  >
            <mat-list-item *ngFor="let dep of category.departments"  >
                
                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                    <div fxFlex="30%">
                        <h5>{{dep.name}}</h5>
                    </div>
                    <div fxFlex="30%">
                        
                    </div>
                </div>

            </mat-list-item>
        </mat-list>
    </div>

</div>