<mat-toolbar color="primary" >
    <mat-toolbar-row  >
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
            <div fxFlex fxLayoutGap="10px" >
                <span class="nav-item" routerLink="/" >home</span>
            </div>
            <div fxFlex="100%" >
                
            </div>
            <div fxFlex="100%"  >
                <span class="nav-item" routerLink="/category" >category</span>
                <span class="nav-item" routerLink="/department" >department</span>
                <span class="nav-item" routerLink="/product" >Products</span>
                <span class="nav-item" routerLink="/admin" >Dashboard</span>
            </div>
        </div>
    </mat-toolbar-row >
</mat-toolbar>


<router-outlet></router-outlet>