<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <div fxFlex="50%" >
            <mat-form-field>
                <mat-icon>search</mat-icon>
                <input matInput
                 placeholder="search here" value="" 
                 (keydown)="searchTerm$.next($event.target.value)" >
            </mat-form-field>
    </div>

    <div fxFlex="50%">
       <mat-form-field>
        <mat-label>sort by</mat-label>
        <mat-select #sorted (selectionChange)="sort(sorted)"  name="item">
            <mat-option value="name" >Name</mat-option>
            <mat-option value="createAt" >Date</mat-option>
        </mat-select>
       </mat-form-field>
    </div>
</div>


<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <div *ngIf="loading$ | async as loading ; else loaded" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div fxFlex="100%">
            <mat-spinner> </mat-spinner>
        </div>
    </div>
    <ng-template #loaded>
        <div *ngIf="paginatedCategory$ | async as paginatedCategory" fxFlex="100%"  >


            <table mat-table #table [dataSource]="paginatedCategory.entities">
                <ng-container matColumnDef="No">
                    <th mat-header-cell *matHeaderCellDef> no </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
    
                <ng-container matColumnDef="Name" >
                    <th mat-header-cell *matHeaderCellDef > Name</th>
                    <td mat-cell *matCellDef="let element" >{{element.name}}</td>
                </ng-container>
                
                <ng-container matColumnDef="Created" >
                    <th mat-header-cell *matHeaderCellDef > Created</th>
                    <td mat-cell *matCellDef="let element" >{{element.createAt | date }}</td>
                </ng-container>

                <ng-container matColumnDef="Actions" >
                    <th mat-header-cell *matHeaderCellDef > Actions</th>
                    <td mat-cell *matCellDef="let element" >
                        <button mat-raised-button [routerLink]="['detail', element.id]" >details</button>
                        <button mat-raised-button color="accent" (click)="update(element.id)" >update</button>
                        <button mat-raised-button color="warn" (click)="delete(element.id)" >delete</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="categoryColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: categoryColumns;"></tr>
            </table>
            <mat-paginator 
            (page)="changePage($event)"
            [pageIndex]="paginatedCategory.nubmer"
            [length]="paginatedCategory.totalElements"
            [pageSize]="paginatedCategory.numberOfElements"
             [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

        </div>
    </ng-template>
    
    
</div>