<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <div fxFlex="12%">
        <mat-drawer-container class="side-drawer mat-elevation-z8">
            <mat-drawer mode="side" opened></mat-drawer>
            <mat-drawer-content>
                <mat-list>
                    <h3 mat-subheader >Dashboard </h3>
                    <mat-list-item>
                        <mat-icon mat-list-icon >dashboard</mat-icon>
                        <h4 mat-line class="side-item-text" >Home</h4>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon >account_circle</mat-icon>
                        <h4 mat-line class="side-item-text" >Users</h4>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon >category</mat-icon>
                        <h4 mat-line class="side-item-text" >category</h4>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon >work</mat-icon>
                        <h4 mat-line class="side-item-text" >Department</h4>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon >casino</mat-icon>
                        <h4 mat-line class="side-item-text" >Product</h4>
                    </mat-list-item>
                    <h3 mat-subheader >Analatics </h3>
                    <mat-list-item>
                        <mat-icon mat-list-icon >dashboard</mat-icon>
                        <h4 mat-line class="side-item-text" >Home</h4>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon >account_circle</mat-icon>
                        <h4 mat-line class="side-item-text" >Users</h4>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon >category</mat-icon>
                        <h4 mat-line class="side-item-text" >category</h4>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon >work</mat-icon>
                        <h4 mat-line class="side-item-text" >Department</h4>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon >casino</mat-icon>
                        <h4 mat-line class="side-item-text" >Product</h4>
                    </mat-list-item>
                </mat-list>
            </mat-drawer-content>
          </mat-drawer-container>
    </div>
    <div fxFlex="70%">
        content
    </div>
</div>