.exp-item{
    text-transform: uppercase;
}

.filter-sec{
    padding: 16px;
    min-height: 100vh;
    height: 100%;
    border-right: 0.5px solid lightgrey;
}

.home{
    height: 100vh;
}

.exp-panel{
    margin: 8px 0px;
}