<div fxLayout="row" class="home" fxLayoutAlign="start start" fxLayoutGap="20px">
    <div  fxFlex="20%">
        <div class="filter-sec mat-elevation-z8 ">
            <mat-expansion-panel class="mat-elevation-z0 exp-panle" expanded=true>
                <mat-expansion-panel-header>
                    Department
                </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item class="exp-item" >first department</mat-list-item>
                        <mat-list-item class="exp-item" >second department</mat-list-item>
                        <mat-list-item class="exp-item" >Third department</mat-list-item>
    
                    </mat-list>
            </mat-expansion-panel>

            <mat-expansion-panel class="mat-elevation-z0 exp-panle" expanded=true>
                <mat-expansion-panel-header>
                    Brand
                </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item class="exp-item" >first department</mat-list-item>
                        <mat-list-item class="exp-item" >second department</mat-list-item>
                        <mat-list-item class="exp-item" >Third department</mat-list-item>
    
                    </mat-list>
            </mat-expansion-panel>

            <mat-expansion-panel class="mat-elevation-z0 exp-panle" expanded=true>
                <mat-expansion-panel-header>
                    Rating
                </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item class="exp-item" >first department</mat-list-item>
                        <mat-list-item class="exp-item" >second department</mat-list-item>
                        <mat-list-item class="exp-item" >Third department</mat-list-item>
    
                    </mat-list>
            </mat-expansion-panel>

            <mat-expansion-panel class="mat-elevation-z0 exp-panle" expanded=true>
                <mat-expansion-panel-header>
                    Material
                </mat-expansion-panel-header>
                <mat-radio-group>
                   <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="30px">
                        <mat-radio-button value="value1">cotton</mat-radio-button>
                        <mat-radio-button value="value2">jeans</mat-radio-button>
                        <mat-radio-button value="value2">jeans</mat-radio-button>
                        <mat-radio-button value="value2">jeans</mat-radio-button>
                    </div>
                </mat-radio-group>
            </mat-expansion-panel>

            <mat-expansion-panel expanded class="mat-elevation-z0 exp-panle" >
                <mat-expansion-panel-header>
                    Color
                </mat-expansion-panel-header>
                <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="30px">
                    <mat-checkbox>first</mat-checkbox>
                    <mat-checkbox>first</mat-checkbox>
                    <mat-checkbox>first</mat-checkbox>
                    <mat-checkbox>first</mat-checkbox>
                    <mat-checkbox>first</mat-checkbox>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel expanded class="mat-elevation-z0 exp-panle" >
                <mat-expansion-panel-header>
                    title
                </mat-expansion-panel-header>
                <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="30px">
                    <mat-checkbox>second</mat-checkbox>
                    <mat-checkbox>second</mat-checkbox>
                    <mat-checkbox>second</mat-checkbox>
                    <mat-checkbox>second</mat-checkbox>
                    
                </div>
            </mat-expansion-panel>
            
            
        </div>
    </div>
    <div fxFlex="80%">
        <h1>This is it</h1>
    </div>
</div>