.exp-item{
    text-transform: uppercase;
}

.side-sec{
    min-height: 100vh;
    height: 100%;
    border-right: .5px solid #dddddd;
}

.home{
    height: 100vh;
}

.exp-panel{
    margin: 8px 0px;
}

.filter-option{
    text-transform: capitalize;
    font-weight: bold;
    margin: 2px 0px;
}

.below-nav{
    background-color: #03A584;
    padding: 8px;
    color: white;
    font-size: 0.8em;
  }

  
.sort-select{
    font-weight: bold;
    color: #202020;
    
}

.color-div{
    display: flex;
    align-items: center;
    div{
        background-color: rgb(12, 12, 70);
        padding: 8px;
        margin-right: 2px;
        border-radius: 15px;
    }

}