.exp-item{
    text-transform: uppercase;
}

.side-sec{
    min-height: 100vh;
    height: 100%;
    border-right: .5px solid #dddddd;
}

.home{
    height: 100vh;
}

.exp-panel{
    margin: 8px 0px;
}

.filter-option{
    text-transform: capitalize;
    font-weight: bold;
    margin: 2px 0px;
}