/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '@angular/material/prebuilt-themes/indigo-pink.css';


.p-5{
    padding: 2%;
}

.pt-3{
    padding-top: 3%;
}

.m-5{ margin: 2%;}

.mt-3{
    margin-top: 5%;
}

.container{
    margin: 2%;
}

.m-input{
    width: 50%;
    margin-bottom: 50px;
}

.m-form-field{
    width: 100%;
}

.success-text{
    color: rgb(49, 219, 49);
}