/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html, body { height: 100%; min-height: 100%; margin: 0; }
body { margin: 0; font-family: Ubuntu, "Helvetica Neue", sans-serif; }

@import '@angular/material/prebuilt-themes/indigo-pink.css';


.p-5{
    padding: 2%;
}

.pt-3{
    padding-top: 3%;
}

.m-5{ margin: 2%;}

.mt-3{
    margin-top: 5%;
}
.mt-2{
    margin-top: 2%;
}
.mt-1{
    margin-top: 1%;
}

.container{
    margin: .5% 5%;
}

.m-input{
    width: 50%;
    margin-bottom: 50px;
}

.m-form-field{
    width: 100%;
}

.success-text{
    color: rgb(49, 219, 49);
}

.grey-item{
    color: grey;
    font-weight: 100;
    font-size: 0.8em;
}


.chart{
    div{

        background-color: steelblue;
        text-align: right;
        padding: 3px;
        margin: 1px;
        color: white;
    }
  }

  .cart-btn{
      
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: #FF4081;
      margin: 16px 0px;
      padding: 16px 32px;
      border-radius: 5px;

      mat-icon{
          color: white;
      }
      
      .large-btn{
        background-color: #FF4081;
        
        border: none;
        color: white;
      }

     

  }

  .cart-btn-danger{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: red;
    margin: 16px 0px;
    padding: 16px 32px;
    border-radius: 5px;

    mat-icon{
        color: white;
    }
    
    .large-btn{
      background-color: red;
      
      border: none;
      color: white;
    }

  }